.feynman__link {
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.feynman__link:hover {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  transition: 1s;
}
